/* Common CSS End */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family:'Open Sans',sans-serif;
}
/* Common CSS Start */

/* Nav CSS Start */
nav{
    background-color: #ffebe1;
}
nav .row{
    align-items: center;
}
nav .container .logo{
    width: 20%;
    margin: auto;
}
nav .container .logo img{
    display: block;
}
nav .container .menu{
    width: 50%;
}
nav .container .menu ul{
    justify-content: center;
}
nav .container .second_menu ul{
    justify-content: flex-end;
}
nav .container .menu ul a{
    color: #649483;
    font-size: 19px;
    padding: 42px 25px;
    text-transform: capitalize;
    transition: .6s;
}
nav .container .menu ul a:hover{
    color: #dd7017;

}


nav .container .second_menu{
    width: 30%;
}
nav .container .second_menu ul a{
    color: #649483;
    padding: 9px;
}

nav .container .second_menu ul .button a{
    background-color: #649483;
    padding: 9px 18px;
    color: #ffece1;
    border-radius: 7px;
    transition: 0.6s;
}
nav .container .second_menu ul .button a:hover{
    background-color: #dd7017;
}
/* Nav CSS End */

/* Banner Section CSS Start */
#banner{
    background-color: #ffebe1;
    height: 890px;
}
#banner .container{
    height: 100%;
}
#banner .row{
    height: 100%;
    /* justify-content: center;
    align-items: center; */
}
#banner .container .section_info{
    width: 50%;
    margin: auto;
}
#banner .container .section_info_2{
    width: 50%;
    margin: auto;
}
#banner .container .section_info img{
    height: 100px;
    width: 50px;
}
#banner .container .section_info h6{
    color: #649483;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
}
#banner .container .section_info p{
    color: #649483;
    font-size: 16px;
}
#banner .container .section_info_2 .info_1 h1{
    color: #dd7017;
    font-size: 112px;
    font-weight: 700;
}
#banner .container .section_info_2 .info_1 a{
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #649483;
    padding: 9px 18px;
    color: #fff4ee;
    border-radius: 7px;
}
#banner .container .section_info_2 .info_1 .banner_button{
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffece1;
    padding: 9px 18px;
    color:  #649483;
    border: 1px solid  #649483;
    border-radius: 7px;
}
#banner .container .section_info_2 .info_2{
    display: flex;
    background-color: #dc6f17;
    border-radius: 10px;
    /* height: 175px; */
}
#banner .container .section_info_2 .info_2 .section_item{
    width: 25%;
}
/* Banner Section CSS End */