/* Common CSS End */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family:'Open Sans',sans-serif;
}
/* Common CSS Start */

/* Nav CSS Start */
nav{
    background-color: #ffebe1;
}
nav .row{
    align-items: center;
}
nav .container .logo{
    width: 20%;
    margin: auto;
}
nav .container .logo img{
    display: block;
}
nav .container .menu{
    width: 50%;
}
nav .container .menu ul{
    justify-content: center;
}
nav .container .second_menu ul{
    justify-content: flex-end;
}
nav .container .menu ul a{
    color: #649483;
    font-size: 19px;
    padding: 42px 25px;
    text-transform: capitalize;
    transition: .6s;
}
nav .container .menu ul a:hover{
    color: #dd7017;

}


nav .container .second_menu{
    width: 30%;
}
nav .container .second_menu ul a{
    color: #649483;
    padding: 9px;
}

nav .container .second_menu ul .button a{
    background-color: #649483;
    padding: 9px 18px;
    color: #ffece1;
    border-radius: 7px;
    transition: 0.6s;
}
nav .container .second_menu ul .button a:hover{
    background-color: #dd7017;
}
/* Nav CSS End */

/* Banner Section CSS Start */
#banner{
    background-color: #ffece1;
}
#banner .container .img-part{
    width: 50%;
    text-align: center;
    height: 100%;
    margin: auto;
}
#banner .container .img-part img{
    display: block;
    /* margin-top: 145px; */
    /* text-align: left; */
}
#banner .container .img-part h4{
    color: #649483;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}
#banner .container .img-part p{
    color: #649483;
    font-size: 16px;
}

#banner .container .heading_part{
    width: 50%;
    /* height: 100%; */
    text-align: left;
}
/* #banner .container .heading{
    height: 100%;
} */

#banner .container .heading_part .heading h1{
    color: #dd7017;
    font-size: 112px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 250px;
    margin-bottom: 20px;
}
#banner .container .heading_part .heading .button_1{
    font-size: 19px;
    background-color: #649483;
    padding: 15px 18px;
    color: #ffece1;
    font-weight: 700;
    border-radius: 7px;
    text-transform: uppercase;
}
#banner .container .heading_part .heading .button_1:hover{
    background-color: #dd7017;
}

#banner .container .heading_part .heading .button_2{
    background-color: #fff4ee;
    color: #649483;
    font-size: 19px;
    font-weight: 700;
    padding: 13px 15px;
    border: 1px solid #649483;
    border-radius: 7px;
    text-transform: uppercase;
    margin-left: 25px;
}
#banner .container .heading_part .heading .button_2:hover{
    background-color: #dd7017;
    color: #fff4ee;
}
#banner .container .heading_part .meal_option{
    background-color: #dc7017;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    border-radius: 15px;
}
#banner .container .heading_part .meal_option .meal_item{
    width: 25%;
    padding: 10px;
    align-items: center;
}
#banner .container .heading_part .meal_option .meal_item p{
    color: #ffece1;
    font-size: 12px;
}
/* Banner Section CSS End */

/* Favorites Section CSS Start */
#favorites{
    background-color: #649483;
    height: 1015px;
}
#favorites .container .section_info{
    color: #ffece1;
    padding-top: 115px;
}
#favorites .container .section_info h2{
    font-size: 112px;
    font-weight: 700;
}
#favorites .container .section_info p{
    font-size: 17px;
    font-weight: 700;
}
#favorites .container .row .section_information{
    width: 31.40%;
    background-color: #fce8dd;
    margin-top: 70px;
    margin-right: 22px;
    height: 571px;
    padding: 75px 55px;
    text-align: center;
    border-radius: 20px;
    display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center
}
#favorites .container .row .section_information h5{
    color: #649483;
    font-size: 19px;
    font-weight: 700;
}



/* Favorites Section CSS End */